<div class="form-group">
    <label for="Title">Title</label>
    <input required type="text" name="title" id="title" class="form-control width-50">
  </div>
  
  <div class="form-group">
    <label for="Description">Description</label>
    <textarea name="description" id="description" class="form-control" ></textarea>
    
  </div>
  <div class="form-group">
    <label for="dueDate">DueDate</label>
    <input type="text" id="dueDate" class="form-control">
  </div>
  
  <div class="form-group">
    <label for="Description">Select the Status</label>
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="rb1" name="groupOfDefaultRadios" checked>
      <label class="custom-control-label" for="rb1">Complete</label>
    </div>
    
    
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="rb2" name="groupOfDefaultRadios">
      <label class="custom-control-label" for="rb2">Incomplete</label>
    </div>
</div>
  
<div class="form-group">
  
  <label for="Description">Select the Priority</label>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" class="custom-control-input" id="pr1" name="inlineDefaultRadiosExample">
  <label class="custom-control-label" for="pr1">High</label>
</div>


<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" class="custom-control-input" id="pr2" name="inlineDefaultRadiosExample" checked>
  <label class="custom-control-label" for="pr2">Medium</label>
</div>


<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" class="custom-control-input" id="pr3" name="inlineDefaultRadiosExample">
  <label class="custom-control-label" for="pr3">Low</label>
</div>
</div>
  
  
  <a href="/" class="btn btn-secondary">Cancel</a>
  <button type="submit" class="btn btn-primary">Save</button>